<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>
    
    <form action="/register" method="post">
        <h1>Register</h1>
        <input type="text" name="name" placeholder="name" id="name">
        <input type="email" name="email" placeholder="email" id="email">
        <input type="password" name="password" id="password" placeholder="password">
        <button type="submit" id="loginBtn">Sign Up</button>
    </form>
    <script src="scripts.js"></script>
</body>

</html>